<div class="col-xs-12 col-sm-4">
  <div class="pricing-table most-popular startups">
    <a tabindex="0" href="<%= hide_startups_pricing_page_index_path %>" data-remote="true" data-loader="false" class="remove-special-startups-pricing"> 
      <h4> <i class="fa fa-close"></i> Hide </h4>
    </a>
    <div class="pricing-head animated flipInX">
      <h1> Thriii Startup </h1>
      <h2>
        <span class="note">$</span>10<sub>month</sub>
      </h2>
      <h5>Includes 2 user</h5>
    </div>
    <ul class="list-unstyled thrid-pricing-row">
      <li>
        <span>
          $10 each additional user
        </span>
      </li>
      <li>Sync w/ShipStation</li>
      <li>Sync w/Quickbooks</li>
      <li>View Detailed Reports</li>
      <li>CSV Import/Export</li>
      <li data-toggle="popover" data-trigger="hover" title="Disclaimer" data-placement="top" data-viewport="body" data-content="* Virtually Unlimited means up to 10,000 transactions per month. If you need more, let us know, and we'll provide you with more at a nominal monthly fee only when you exceed 10,000 transactions in a month. ** Exporting of certain data is restricted due to security and PCI Compliance requirements.">Virtually Unlimited Everything *
      </li>
      <li>Advanced Item Catalog</li>
      <li>Multi-user w/Roles &amp; Permissions</li>
      <li>Multi-Warehouse + Multi-Location</li>
    </ul>
    <ul class="list-unstyled add-ons">
      <h2 class="add-on-header">Add-ons</h2>
      <li>
        <span>CSV Export</span> &ndash; Free
      </li>
      <li class="extra-info-popup">
        <div class="cmp-popup">
          Ideal for flash sales, presales and sell in advance.
        </div>
        <span>Inventory Holds</span> &ndash; Free
      </li>
      <li class="extra-info-popup">
        <div class="cmp-popup">
          Merge multiple orders into a single invoice simplifying your accounting.
        </div>
        <span>Invoice Consolidation</span> + $5
      </li>
      <li class="extra-info-popup">
        <div class="cmp-popup">
          Automate drop-ship purchase orders for out of stock items or items that are shipped directly by your suppliers.
        </div>
        <span>Drop-Ship Automation</span> &ndash; Free
      </li>
      <li class="extra-info-popup">
        <div class="cmp-popup">
          Manage product specifications and easily export data for major retailers like Overstock.com etc.
        </div>
        <span>Advanced Item Catalog</span> &ndash; Free
      </li>
      <li class="extra-info-popup">
        <div class="cmp-popup">
          Serialize and lot production of products.
        </div>
        <span>Serial Numbers</span> + $10
      </li>
      <li class="extra-info-popup">
        <div class="cmp-popup">
          Group products, build sellable products from parts with support for reassembly.
        </div>
        <span>Kits/Builds</span> + $10
      </li>
      <li class="extra-info-popup">
        <div class="cmp-popup">
          Reduce drop-ship  costs by finding suppliers with competitive pricing and competitive shipping.
        </div>
        <span>Drop-Ship Marketplace</span> &ndash; Free
      </li>
      <li class="extra-info-popup">
        <div class="cmp-popup">
          <span class="cmp-header">Extended List</span>
          <ul>
            <li>Inventory Numbers</li>
            <li>Spec Sheets</li>
            <li>Line Sheets</li>
            <li>Hi-Res Images</li>
            <li>Documents, <br> (eg. contract customer license agreements))</li>
            <li>Market your products to a host of thousands of resellers around the globe.</li>
          </ul>
        </div>
        <span>Company Marketplace</span> &ndash; Free<sup>*</sup>
      </li>
      <li class="extra-info-popup">
        <div class="cmp-popup">
          Boost wholesale revenue and sales team productivity with easy to generate and distribute linesheets.
        </div>
        <span>Linesheets</span> + $15
      </li>
    </ul>

    <div class="price-actions">
      <a href="javascript:;" class="btn">This Is What I Need</a>
    </div>
  </div>
</div>
