# Ignore bundler config.
/.bundle
node_modules/**
/vendor/cache
/vendor/bundle
.DS_Store
.sass-cache
*.[Gg]emfile.lock
.rvmrc
.rbenv-version
.rspec
.travis.yml
/public/system/**

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log
/tmp

/coverage/**
.zeus.sock
.env

# Ignore Sublime Text workspace files
/*.sublime-workspace
*.sublime-project
