<div class="col-lg-3"> <!-- Blog Sidebar -->
  <div class="blog-side-item">

    <div class="blog-post">
      <h3>Latest Blog Post</h3>
      <div class="media">
        <a class="pull-left" href="javascript:;">
          <img style="width: 50px; height: 50px;" class="img-responsive" src="<%= image_url '/images/verde-circle-logo-name-centered.png' %>" alt="">
        </a>
        <div class="media-body">
          <h5 class="media-heading"><a href="javascript:;">02 May 2013 </a></h5>
          <p>
            Donec id elit non mi porta gravida at eget metus amet int
          </p>
        </div>
      </div>
      <div class="media">
        <a class="pull-left" href="javascript:;">
          <img style="width: 50px; height: 50px;" class="img-responsive" src="<%= image_url '/images/verde-circle-logo-name-centered.png' %>" alt="">
        </a>
        <div class="media-body">
          <h5 class="media-heading"><a href="javascript:;">02 May 2013 </a></h5>
          <p>
            Donec id elit non mi porta gravida at eget metus amet int
          </p>
        </div>
      </div>
      <div class="media">
        <a class="pull-left" href="javascript:;">
          <img style="width: 50px; height: 50px;" class="img-responsive" src="<%= image_url '/images/verde-circle-logo-name-centered.png' %>" alt="">
        </a>
        <div class="media-body">
          <h5 class="media-heading"><a href="javascript:;">02 May 2013 </a></h5>
          <p>
            Donec id elit non mi porta gravida at eget metus amet int
          </p>
        </div>
      </div>
    </div>

    <div class="tags">
      <h3>Tags</h3>
      <ul class="list-unstyled tag">
        <li><a href="javascript:;"> Shipping</a></li>
        <li><a href="javascript:;"> Development</a></li>
        <li><a href="javascript:;"> Coming Soon</a></li>
        <li><a href="javascript:;"> Help</a></li>
        <li><a href="javascript:;"> Time Tracking</a></li>
        <li><a href="javascript:;"> Receiving</a></li>
        <li><a href="javascript:;"> Invoicing</a></li>
        <li><a href="javascript:;"> Items</a></li>
      </ul>
    </div>
  </div>
</div> <!-- END Blog Sidebar -->
