<% provide(:title, I18n.t("brand.company") + "\s| Blog") %>
<div class="row" id="blog-page">
  <div class="col-lg-9 ">
    <%= render @blogs %>

    <div class="text-center">
      <%= paginate @blogs %>
    </div>
  </div> <!-- END .col-*-* -->

  <%= render "blog_sidebar" %>
</div> <!-- END #blog-page -->
