<!-- Be sure to also modify welcome_email.text.haml whenever editing this file -->
<% @image_url = "/images/verde-circle-logo-name-centered.png" %>
<% @unsubscribe_url = user_home_url %>
<% content_for :title do %>
  Welcome <%= @user.display_name %>!
<% end %>
<% content_for :lead do %>
  Thanks for signing up for <%= link_to I18n.t('brand.name'), root_url %>.
<% end %>
<% content_for :callout do %>
  <p>
    We'll be sending another email in a moment for you to confirm your account.
  </p>
<% end %>
<% content_for :action_button do %>
  <%= link_to 'Visit Now', root_url %>
<% end %>
<h3>
  Browse The Community!
</h3>
<p> The Verde Circle Community Center is a fun place to learn more about Verde Circle products and product features, as well as learn tricks from other companies using Verde Circle. We encourage you to help fellow Verde Circle users. In fact, we reward you for it!
</p>
