<div id="slidedeck_frame" class="skin-slidedeck">
  <dl class="slidedeck">
    <dt>Invoicing</dt>
    <dd>
      <ul class="slidesVertical">
        <li>
          <article>
            <h2 class="text-center">Invoicing</h2>
            <p style="width: 70%; white-space: pre-line; margin: 0 auto; text-align: center;">
              The best part of invoicing is receiving the payment! Thriii has a rich set of invoicing features that you'll love! The entire invoicing process can be completely automated, or you can hold invoices for approval so that they can be reviewed before being emailed to your customers.
            </p>
          </article>
        </li>
      </ul>
    </dd>

    <dt>Purchasing</dt>
    <dd>
      <ul class="slidesVertical">
        <li>
          <article>
            <h2 class="text-center">Purchasing</h2>
            <p style="width: 70%; white-space: pre-line; margin: 0 auto; text-align: center;">
              It's easier than ever to manage all of your purchases using Thriii. You can easily handle deposits, COD, prepayments, and terms without the mess that comes with trying to handle these using your accounting system directly. Of course, everything integrates with your Accounting system of choice as well!
            </p>
          </article>
        </li>
      </ul>
    </dd>

    <dt>Bills</dt>
    <dd>
      <ul class="slidesVertical">
        <li>
          <article>
            <h2 class="text-center">Bills</h2>
            <p style="width: 70%; white-space: pre-line; margin: 0 auto; text-align: center;">
              Entry of bills is easier than ever with Thriii's Bill Management features. We'll even help remind you of when bills will be due and when future bills will be coming so that you can better plan your budget. Of course, everything integrates with your Accounting system of choice as well!
            </p>
          </article>
        </li>
      </ul>
    </dd>

    <dt>Employees</dt>
    <dd>
      <ul class="slidesVertical">
        <li>
          <article>
            <h2 class="text-center">Employees</h2>
            <p style="width: 70%; white-space: pre-line; margin: 0 auto; text-align: center;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ligula arcu, vehicula id ante vitae, dignissim finibus velit. Fusce auctor mi quis dignissim auctor. Phasellus id leo faucibus, laoreet dui et, pellentesque arcu. Vestibulum lobortis convallis elit, sed hendrerit nunc posuere eu. Vestibulum sed aliquet odio. Nulla mollis, libero a vestibulum faucibus, massa est ullamcorper nibh, sit amet euismod lorem neque eget nulla.
            </p>
          </article>
        </li>
      </ul>
    </dd>

    <dt>Reconciliation</dt>
    <dd>
      <ul class="slidesVertical">
        <li>
          <article>
            <h2 class="text-center">Reconciliation</h2>
            <p style="width: 70%; white-space: pre-line; margin: 0 auto; text-align: center;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ligula arcu, vehicula id ante vitae, dignissim finibus velit. Fusce auctor mi quis dignissim auctor. Phasellus id leo faucibus, laoreet dui et, pellentesque arcu. Vestibulum lobortis convallis elit, sed hendrerit nunc posuere eu. Vestibulum sed aliquet odio. Nulla mollis, libero a vestibulum faucibus, massa est ullamcorper nibh, sit amet euismod lorem neque eget nulla.
            </p>
          </article>
        </li>
      </ul>
    </dd>
  </dl>
</div>
