<div class="row">
  <div class="col-xs-6">
    M2 Inventory Management©
    In the real world, Inventory Management is much more than just having a count of the number of units of a product that you have. You want to know exactly how much you have of every product and exactly where it is located. How much is in transit? How much of it is on order? How much of it is defective and creating a negative customer experience? How much is creating a positive customer experience? Your inventory tells the story of your business, and Thriii helps you create a better story!
    M2 Inventory Management© is Verde Circle’s implementation of industry best practices for product management and stock keeping inside of our flagship SaaS Solution: Thriii. Thriii provides you with true Multi-Warehouse + Multi-Location inventory management. This allows you to know not just that you have 20 units of a product somewhere but exactly where those 20 units are located in your warehouse, stockroom, showroom, retail space, or any other location you keep your inventory. More... 
  </div>
  <div class="col-xs-6">
    
  </div>
</div>
