<div id="slidedeck_frame" class="skin-slidedeck">
  <dl class="slidedeck">
    <dt>M&sup2; Inventory Management&copy;</dt>
    <dd>
      <ul class="slidesVertical">
        <li>
          <article>
            <h2 class="text-center">M&sup2; Inventory Management&copy;</h2>
            <p style="width: 70%; white-space: pre-line; margin: 0 auto; text-align: center;">
              In the real world, Inventory Management is much more than just having a count of the number of units of a product that you have. You want to know exactly how much you have of every product and exactly where it is located. How much is in transit? How much of it is on order? How much of it is defective and creating a negative customer experience? How much is creating a positive customer experience? Your inventory tells the story of your business, and Thriii helps you create a better story!
            </p>
          </article>
        </li>
        <li>
          <article>
            <h2 class="text-center">M&sup2; Inventory Management&copy;</h2>
            <p style="width: 70%; white-space: pre-line; margin: 0 auto; text-align: center;">
              M2 Inventory Management© is Verde Circle’s implementation of industry best practices for product management and stock keeping inside of our flagship SaaS Solution: Thriii. Thriii provides you with true Multi-Warehouse + Multi-Location inventory management. This allows you to know not just that you have 20 units of a product somewhere but exactly where those 20 units are located in your warehouse, stockroom, showroom, retail space, or any other location you keep your inventory.
            </p>
          </article>
        </li>
      </ul>
    </dd>
    <dt>Best Practices</dt>
    <dd>
      <ul class="slidesVertical">
        <li>
          <article>
            <h2 class="text-center">Best Practices Pick/Pack/Ship Fulfillment</h2>
            <p style="width: 70%; white-space: pre-line; margin: 0 auto; text-align: center;">
              How well you manage your packaging and shipping can greatly effect your bottom line. Thriii helps you organize your product, packaging, and carrier information to help ensure that you are maximizing your fulfillment expenses. Thriii starts with a simple to use and optimized pick list. Next, our Pack process helps ensure that you are using the best packaging for your shipments by optimizing the important weight and dimensions used by major shipping carriers. Finally, our Ship process helps to further reduce errors with shipping by integrating with industry leading shipping services such as ShipStation.
            </p>
          </article>
        </li>
      </ul>
    </dd>
    <dt>Integrations</dt>
    <dd>
      <ul class="slidesVertical">
        <li>
          <article>
            <h2 class="text-center">Best Practices Pick/Pack/Ship Fulfillment</h2>
            <p style="width: 70%; white-space: pre-line; margin: 0 auto; text-align: center;">
              From accounting system integrations to shipping systems to CRM integrations, Thriii is designed to eliminate double and triple entry of data, reduce out-of-sync data between multiple systems, and minimize manual processing. We might even save you from a ton of spreadsheet work!
            </p>
          </article>
        </li>
      </ul>
    </dd>
    <dt>Bookkeeping Suite</dt>
    <dd>
      <ul class="slidesVertical">
        <li>
          <article>
            <h2 class="text-center">Best Practices Pick/Pack/Ship Fulfillment</h2>
            <p style="width: 70%; white-space: pre-line; margin: 0 auto; text-align: center;">
              No business is complete without an Accounting system. Thriii integrates with popular small business accounting platforms like Freshbooks, Quickbooks, and more. We augment these platforms with a suite of bookkeeping features that will help put a smile on your accountant's face. Yes! Imagine that! A smiling accountant!
            </p>
          </article>
        </li>
        <li>
          <article>
            <h2 class="text-center">Best Practices Pick/Pack/Ship Fulfillment</h2>
            <p style="width: 70%; white-space: pre-line; margin: 0 auto; text-align: center;">
              Purchasing has never been easier! Purchasing can be setup to automatically generate a PO for your approval. Review. Click. Done. Thriii sends the PO to the proper Buyer. You sit back and watch it make its way to your warehouse. Hey, we even automate your drop-shipping, giving you powerful tools to optimize on a variety of factors.
            </p>
          </article>
        </li>
      </ul>
    </dd>
  </dl> <!-- END .slidedeck -->
</div> <!-- END .skin-slidedeck -->
