<div id="slidedeck_frame" class="skin-slidedeck">
  <dl class="slidedeck">
    <dt>Pick</dt>
    <dd>
      <ul class="slidesVertical">
        <li>
          <article>
            <h2 class="text-center">Pick</h2>
            <p style="width: 70%; white-space: pre-line; margin: 0 auto; text-align: center;">
              Fulfillment in Thriii is as simple as Pick, Pack, and Ship! Pick list summaries make it simple to make sure that you have all the items needed for your fulfillment in as few trips to the shelves as possible. In a Multi-Warehouse Multi-Location environment, you can pick items from multiple warehouses to fulfill a single Sales Order or require all items to be shipped from the same Warehouse. The options are limitless with Thriii.
            </p>
          </article>
        </li>
      </ul>
    </dd>

    <dt>Pack</dt>
    <dd>
      <ul class="slidesVertical">
        <li>
          <article>
            <h2 class="text-center">Pack</h2>
            <p style="width: 70%; white-space: pre-line; margin: 0 auto; text-align: center;">
              The proper box size, packing materials, and shipping weights are essential to making sure you optimize your shipping dollar. Thriii’s Carton Magic&copy; system allows you to fully automate the packing process by setting proper dimensions, weights, and quantities for your shipping cartons as they apply to each product. Thriii uses this information to ensure the proper carton is used for each shipment. Multi-carton shipments and multi-carton packing lists are as simple as clicking print with Thriii’s Carton Magic&copy;!
            </p>
          </article>
        </li>
      </ul>
    </dd>

    <dt>Ship</dt>
    <dd>
      <ul class="slidesVertical">
        <li>
          <article>
            <h2 class="text-center">Ship</h2>
            <p style="width: 70%; white-space: pre-line; margin: 0 auto; text-align: center;">
              Thriii integrates seamlessly via the cloud with the most popular shipping systems, allowing you to keep your shipping system and carriers of choice. Our picking and packing simplifies processing your fulfillment. Thriii integrates with powerful shipping platforms like ShipStation to automate your shipping label creation. Palletized shipments are also a breeze with Thriii.
            </p>
          </article>
        </li>
      </ul>
    </dd>

    <dt>Drop-Ship</dt>
    <dd>
      <ul class="slidesVertical">
        <li>
          <article>
            <h2 class="text-center">Drop-Ship</h2>
            <p style="width: 70%; white-space: pre-line; margin: 0 auto; text-align: center;">
              Don’t have the inventory on hand to take care of your customers? You can setup drop-ship suppliers to do all the work for you! Take advantage of the drop-ship automation add-on within Thriii to fully automate your drop-ship order as well as optimize your drop-shipping to increase profits or limit your shipping carbon footprint. Sometimes it's not just about the profit margin.
            </p>
          </article>
        </li>
      </ul>
    </dd>

    <dt>Returns</dt>
    <dd>
      <ul class="slidesVertical">
        <li>
          <article>
            <h2 class="text-center">Returns</h2>
            <p style="width: 70%; white-space: pre-line; margin: 0 auto; text-align: center;">
              Often times, the difference between a happy customer and an unhappy customer posting a rant on their blog and social media is how well you handle their return. Thriii's return features make it simple to manage the entire process quickly and efficiently! From issuing an RMA to Receiving to notifications to your proper team members, Thriii has you AND your customer taken care of every step of the way.
            </p>
          </article>
        </li>
      </ul>
    </dd>
  </dl>
</div>
