<div id="slidedeck_frame" class="skin-slidedeck">
  <dl class="slidedeck">
    <dt>M&sup2; Inventory Management&copy;</dt>
    <dd>
      <ul class="slidesVertical">
        <li>
          <article>
            <h2 class="text-center">M&sup2; Inventory Management&copy;</h2>
            <p style="width: 70%; white-space: pre-line; margin: 0 auto; text-align: center;">
              At the center of Thriii is our M2 Inventory Management© engine. This is full Multi-Warehouse, Multi-Location management of your inventory.

              Most inventory systems provide a basic count of inventory. e.g. You have 20 units of Item X. If that’s the only item you sell and have one shelf where you keep all 20 units, then a simple inventory count system will work just fine for you. That's probably not your business though. You sell more items, have move than one shelf, more than one stock room or warehouse, or deal with returns, defects, spoilage, damage items, and other forms of stock adjustments.
            </p>
          </article>
        </li>
        <li>
          <article>
            <h2 class="text-center">M&sup2; Inventory Management&copy;</h2>
            <p style="width: 70%; white-space: pre-line; margin: 0 auto; text-align: center;">
              Thriii allows you to fully define your warehouse locations and track the exact location of every single unit of an item. e.g. You have 20 units of Item X with 3 of them in your storefront window, 7 on your storefront shelf in the middle of your store, and the remaining 10 in a bulk storage bin in row 3, shelf 5 of your warehouse in downtown.
            </p>
          </article>
        </li>
      </ul>
    </dd>
    <dt>Advanced Catalog</dt>
    <dd>
      <ul class="slidesVertical">
        <li>
          <article>
            <h2 class="text-center">Advanced Catalog</h2>
            <p style="width: 70%; white-space: pre-line; margin: 0 auto; text-align: center;">
              Product Specifications are critical to good sales. The more information you have about your products, the more informed customers are and the more likely they will buy. Most importantly, if you're going to list your product on any of the scores of ecommerce marketplaces on the web, you're going to need to supply them with specifications.

              There are templates to follow, spreadsheets to fill out, and files to upload. Thriii's Advanced Catalog provides you with all the tools you'll need to be able to expedite marketplace listings and reduce the amount of data entry.
            </p>
          </article>
        </li>
      </ul>
    </dd>
    <dt>Inventory Holds</dt>
    <dd>
      <ul class="slidesVertical">
        <li>
          <article>
            <h2 class="text-center">Inventory Holds</h2>
            <p style="width: 70%; white-space: pre-line; margin: 0 auto; text-align: center;">
              The advent of Flash Websites and virtual inventory sales creates a tremendous opportunity for businesses but also presents some problems. Thriii allows you to hold inventory for a specific customer during a specific time period. This allows you to optimize the availability of your inventory while avoiding costly oversells with your flash partners.
            </p>
          </article>
        </li>
      </ul>
    </dd>
    <dt>Cycle Counts</dt>
    <dd>
      <ul class="slidesVertical">
        <li>
          <article>
            <h2 class="text-center">Cycle Counts</h2>
            <p style="width: 70%; white-space: pre-line; margin: 0 auto; text-align: center;">
              What inventory system would be complete without cycle counts? It's everyone's favorite activity at the end of each month, quarter, and year. Count! Count! Count!

              Cycle Counts are easy in Thriii, and since you've already done most of the work in advance through Stock Movements &amp; Adjustments, they are even easier. Utilizing Thriii's mobile app and a bluetooth barcode scanner can also make Cycle Counts one of easiest jobs in the entire warehouse.
            </p>
          </article>
        </li>
      </ul>
    </dd>
  </dl>
</div>
