<div id="slidedeck_frame" class="skin-slidedeck">
  <dl class="slidedeck">
    <dt>Sales Orders</dt>
    <dd>
      <ul class="slidesVertical">
        <li>
          <article>
            <h2 class="text-center">Sales Orders</h2>
            <p style="width: 70%; white-space: pre-line; margin: 0 auto; text-align: center;">
              Multi source sales orders allows you to enter orders manually, import in bulk via CSV, and 2-way sync orders with 3rd party APIs. This allows you to receive and update sales orders from just about every possible source quickly and automatically.
            </p>
          </article>
        </li>
      </ul>
    </dd>

    <dt>Purchase Orders</dt>
    <dd>
      <ul class="slidesVertical">
        <li>
          <article>
            <h2 class="text-center">Purchase Orders</h2>
            <p style="width: 70%; white-space: pre-line; margin: 0 auto; text-align: center;">
              If you're selling products, you're also purchasing products, parts, and materials, as well as packing and shipping supplies. Thriii's Purchase Order management allows you to import and sync from 3rd party systems as well as completely manage your Purchase Orders directly in Thriii. An optional drop-ship add-on allows for automation of your drop-ship orders.
            </p>
          </article>
        </li>
      </ul>
    </dd>

    <dt>Customers</dt>
    <dd>
      <ul class="slidesVertical">
        <li>
          <article>
            <h2 class="text-center">Customers</h2>
            <p style="width: 70%; white-space: pre-line; margin: 0 auto; text-align: center;">
              Central to your business are your customers! A 2-way sync of customers with your 3rd party systems (including your accounting platform) makes managing customers and their orders as simple as ever. You also have the ability to manage multiple contacts across each of your customers to help ensure that the proper communication is delivered to the appropriate customer contact.
            </p>
          </article>
        </li>
      </ul>
    </dd>

    <dt>Vendors</dt>
    <dd>
      <ul class="slidesVertical">
        <li>
          <article>
            <h2 class="text-center">Vendors</h2>
            <p style="width: 70%; white-space: pre-line; margin: 0 auto; text-align: center;">
              Your products are the reason your Customers are buying from you! Easily manage all of your suppliers and their contacts to ensure that all your purchases are made in a timely manner and deliveries match up with your sales order demands. Manually enter, bulk import via CSV, or 2-way sync via APIs with 3rd parties allows for easy management of all your important suppliers and related activities.
            </p>
          </article>
        </li>
      </ul>
    </dd>
  </dl>
</div>
