<% content_for :welcome do %>
  <%= render partial: "partials/welcome" %>
<% end %>

<div class="form-group">
  <% if user_signed_in? %>
    <%= link_to("New Post", new_post_path , class: "btn btn-primary") %>
  <% end %>
  <br>
</div>
<br>

<%= render partial: "posts/post" %>