<div class="row">
  <div class="col-xs-12">
    <img class="img-responsive" src="//placehold.it/1500x450&text=Promo+Video">
  </div>

  <div class="col-xs-12">
    <img class="img-responsive" src="//placehold.it/1500x450&text=Other+GiberGaber">
  </div>
</div>
