<div class="row hidden-xs intro-icon-wrapper">
  <div class="col-xs-4">
    <ul class="list-unstyled list-inline">
      <li>
        <i class="intro-icon fa fa-cloud"></i>
      </li>
      <li class="intro-icon-text">
        Anytime, Anywhere Access
      </li>
    </ul>
  </div>

  <div class="col-xs-4"> 
    <ul class="list-unstyled list-inline">
      <li>
        <i class="intro-icon fa fa-lightbulb-o"></i>
      </li>
      <li class="intro-icon-text">
        Business Intelligence
      </li>
    </ul>
  </div>

  <div class="col-xs-4">
    <ul class="list-unstyled list-inline">
      <li>
        <i class="intro-icon fa fa-smile-o"></i>
      </li>
      <li class="intro-icon-text">
        Your Business Simplified
      </li>
    </ul>
    <br>
  </div>
</div>

<div class="row">
  <div class="col-xs-12" id="intro-video-container">
    <div class="embed-responsive embed-responsive-16by9" id="intro-video">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Jp6AF__EwKQ?rel=0&amp;controls=0&amp;showinfo=0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="row intro-media-wrapper">
  <div class="intro-media-support">
    <div class="col-xs-4">
      <img class="img-responsive fb-logo" src="<%= image_url 'freshbooks-logo.png' %>">
    </div>
    <div class="col-xs-4 ss-logo">
      <img class="img-responsive" src="<%= image_url 'shipstation-logo.png' %>">
    </div>
    <div class="col-xs-4 i-logo">
      <img class="img-responsive" src="<%= image_url 'intuit-logo.gif' %>">
    </div>
  </div>
</div>
