<div class="row"> <!--price start-->
  <div class="col-xs-12">
    <div class="text-center feature-head">
      <h1> 60 day Free Trial on All Accounts </h1>
      <p><strong>No credit card required.</strong> <br> No risk. No hidden fees. Cancel at anytime. </p>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="pricing-switcher">
      <p class="fieldset">
        <input type="radio" name="duration" value="monthly" id="monthly" checked="">
        <label for="monthly">Monthly</label>
        <input type="radio" name="duration" value="yearly" id="yearly">
        <label for="yearly">Yearly</label>
        <span class="price-switch-btn monthly"></span>
      </p>
    </div>
  </div>
  
  <%= render "pages/pricing/freemium" %>
  <%= render "pages/pricing/core" %>
  <%= render "pages/pricing/erp" %>
  
</div>
