<div class="row"> <!--price start-->
  <div class="col-xs-12">
    <div class="text-center feature-head">
      <h1> 60 day free trial on most accounts </h1>
      <p><strong>No credit card required!</strong> <br> No risk! No hidden fees! Cancel at anytime! </p>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="pricing-switcher">
      <h3 class="switcher-header">
        Choose Plan Billing Cycle
      </h3>
      <p class="fieldset" tabindex="0">
        <input type="radio" name="duration" value="monthly" id="monthly" checked="">
        <label accesskey="m" for="monthly">Monthly</label>
        <input type="radio" name="duration" value="yearly" id="yearly">
        <label accesskey="y" for="yearly">Yearly</label>
        <span class="price-switch-btn monthly"></span>
      </p>
    </div>
  </div>
  
  <%= render "pages/pricing/freemium" %>
  <%= render "pages/pricing/core" %>
  <%= render "pages/pricing/erp" %>
</div>
