<% provide(:stylesheets) do %>
<%= stylesheet_link_tag 'depend/pagepiling', media: 'all', 'data-turbolinks-track' => :true %>
<% end %>

<% provide(:on_ready) do %>
  $('#pagepile').pagepiling({
    menu: '#menu',
    anchors: ['features', 'inventory', 'accounting', 'orders', 'logistics'],
    sectionsColor: ['#fafafa', '#fafafa', '#fafafa', '#fafafa', '#fafafa'],
    loopTop: false,
    loopBottom: true,
    navigation: {
      'textColor': '#323232',
      'bulletsColor': '#ccc',
      'position': 'right',
      'tooltips': ['features', 'inventory', 'accounting', 'orders', 'logistics']
    }
  });
<% end %>

<% provide(:pricing_btn) do %>
  <a href="<%= url_for pricing_path %>" class="btn btn-info navbar-btn" id="nav-pricing-btn-desk">Pricing</a>
<% end %>

<div id="pagepile-loading">
  <h1>
  <i class="fa fa-spinner fa-spin"></i> Loading &hellip;
  </h1>
</div>
<ul id="menu" class="nav nav-pills">
  <li role="presentation" data-menuanchor="features" class="active">
    <a href="#features">features</a>
  </li>
  <li role="presentation" data-menuanchor="inventory">
    <a href="#inventory">inventory</a>
  </li>
  <li role="presentation" data-menuanchor="accounting">
    <a href="#accounting">accounting</a>
  </li>
  <li role="presentation" data-menuanchor="orders">
    <a href="#orders">orders</a>
  </li>
  <li role="presentation" data-menuanchor="logistics">
    <a href="#logistics">logistics</a>
  </li>
</ul>

<div id="pagepile">
  <div class="section" id="section1">
  </div>

  <div class="section" id="section2">
  </div>

  <div class="section" id="section3">
  </div>

  <div class="section" id="section4">
  </div>

  <div class="section" id="section5">
  </div>
</div>
