<% provide(:stylesheets) do %>
  <%= stylesheet_link_tag 'depend/pagepiling', media: 'all' %>
<% end %>

<div id="pagepile-loading">
  <h1>
  <i class="fa fa-spinner fa-spin"></i> Loading &hellip;
  </h1>
</div>
<ul id="menu" class="nav nav-pills">
  <li role="presentation" data-menuanchor="features" class="active">
    <a href="#features">features</a>
  </li>
  <li role="presentation" data-menuanchor="inventory">
    <a href="#inventory">inventory</a>
  </li>
  <li role="presentation" data-menuanchor="orders">
    <a href="#orders">orders</a>
  </li>
  <li role="presentation" data-menuanchor="fulfillment">
    <a href="#fulfillment">fulfillment</a>
  </li>
  <li role="presentation" data-menuanchor="accounting">
    <a href="#accounting">accounting</a>
  </li>
</ul>

<div id="pagepile">
  <div class="section" id="section1">
  </div>

  <div class="section" id="section2">
  </div>

  <div class="section" id="section3">
  </div>

  <div class="section" id="section4">
  </div>

  <div class="section" id="section5">
  </div>
</div>
