<div class="row">
  <img class="contact-page-map img-responsive" src="<%= image_url "/images/map.png" %>" draggable="false">

  <div class="contact-page-address-wrapper">
    <div class="col-sm-4 col-sm-6 address">
      <h4>Santa Monica, CA</h4>
      <p>
        1515 7th Street. #73, <br>
        Santa Monica, CA 90401, USA.
      </p>
      <br><br><br>
      <p>
        Phone:
        <span class="muted">
          (310) 123-1444
        </span><br>
        Email:
        <span class="muted">
          info@thriii.com
        </span>
      </p>
    </div> <!-- END .address -->
    <div class="col-xs-12 col-sm-8 contact-form-wrapper">
      <h4 class="text-center">Send Us A Message</h4>
      <div class="contact-form">
        <%= render "form" %>
      </div>
    </div> <!-- END .contact-form-wrapper -->
  </div> <!-- END .contact-page-address-wrapper -->
</div> <!-- END .row -->
