<div class="row">
  <div class="col-xs-12">
    <img class="img-responsive" src="//placehold.it/1500x450&text=Map+Of+Location">
    <br>
  </div>

  <aside class="col-xs-12 col-sm-6">
  <ul class="list-unstyled text-center">
    <li>City Name</li>
    <li>Address</li>
    <li>Phone</li>
    <li>Email</li>
  </ul>
  </aside>

  <aside class="col-xs-12 col-sm-6">
    <%= render "form" %>
  </aside>
</div>
