
//
// Minor Tweaks
//

// Padding to clear fixed nav
body {
  padding-top: 70px;
}

// Make sure alerts are nicely formatted
.alert {
  a {
    white-space: nowrap;
  }
}

// Postion loading spinner at bottom right
#nprogress .spinner {
  top: auto;
  bottom: 15px;
}

.navbar-default {
  padding-right: 20px;
  padding-left: 5px;
}

.category-sidebar {
  padding-left: 5px;
  padding-right: 5px;
}
#nav-pricing-btn-desk,
#nav-pricing-btn-mobile,
#nav-freetrial-btn-desk,
#nav-freetrial-btn-mobile {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  border-radius: 4px;
}
@media (max-width: 768px) {
  #nav-pricing-btn-desk,
  #nav-freetrial-btn-desk {
    display: none;
  }
}
@media (min-width: 768px) {
  #nav-pricing-btn-mobile,
  #nav-freetrial-btn-mobile {
    display: none;
  }
}
.modal-open,
.modal-open .navbar-fixed-top {
  margin-right: auto !important;
}


.brand-image {
  width: 25px;
}
.unread {
  background-color: #ff0;
}
.user-hovercard .popover-content > .hovercard-img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.user-hovercard-parent + .popover {
  background-color: #fafafa;
  // width: 100%;
  z-index: 200;
}
.user-hovercard > .popover-title,
.user-hovercard > .popover-content {
  margin: 0;
  padding: 40px 0 0;
}
.user-hovercard > .popover-content {
  position: relative;
}
.user-hovercard > .popover-content .media-heading > a {
  padding: 0 5px;
  color: #000;
  font-weight: 600;
  text-transform: capitalize;
  text-shadow: 1px 1px 3px #fff;
}
.user-hovercard-parent + .popover .arrow:after {
  border-bottom-color: #fafafa;
}
@media (min-width: 769px) {
 .user-hovercard {
  min-width: 360px !important;
  max-width: 365px !important;
 }
}
@media (max-width: 768px) {
 .user-hovercard {
  min-width: 290px !important;
  max-width: 300px !important;
 }
}

.mobile .navbar-fixed-top {
  transition: top 0.2s ease-in-out;
  &.nav-up {
    top: -70px;
  }
}
.report-dropdown {
  .list-group {
    margin-bottom: 0;
    .list-group-item {
      &:hover {
        background-color: $verde-green;
      }
    }
  }
  .dropdown-menu {
    padding: 0;
    margin: 0;
  }
}
html.mobile .test-popup,
html.desktop .test-popup {
  position: fixed;
  top: 0px;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000;
  overflow: hidden;
  opacity: 1;
  z-index: 2000;
  > .test-popup-header {
    height: 56px;
    padding: 11px;
    margin: 0;
    width:100%;
    background-color: #323232;
    .test-popup-header-text {
      display: inline;
      margin-left: 12%;
      color: #fff;
    }
  }
  > .test-popup-content {
    padding-top: 0;
    margin-right: -15px;
    overflow-y: scroll;
    & .list-group-item {
      &:first-child {
        border-radius: 0;
      }
      &:hover {
        background-color: $verde-green;
      }
    }
  }
}
html.mobile .test-popup {
  > .test-popup-content {
    height: 94.5555%;
  }
}

html.desktop .test-popup {
  width: 300px;
  height: 400px !important;
  background-color: transparent;
  border-radius: 6px;
  margin: auto;
  > .test-popup-content {
    height: 90%;
  }
}


