.controller__pages {
  .monthly .yearly-pricing {
    display: none;
  }
  .yearly .monthly-pricing {
    display: none;
  }
  .pricing-table.most-popular.monthly > .pricing-head { 
    > h1 {
      margin-bottom: 38px;
    }
  }
}
#pricing-page {
  .pricing-switcher {
    @extend %module;
    margin: 10px auto 30px;
    text-align: center;
    user-select: none;
    .switcher-header {
      color: $verde-purple;
    }
    .fieldset {
      display: inline-block;
      position: relative;
      margin: 10px 0;
      padding: 2px;
      background-color: $white-base;
      border: 1px solid $verde-purple; 
      border-radius: $border-radius-large;
      > input[type="radio"] {
        position: absolute;
        opacity: 0;
      }
      .price-switch-btn {
        position: absolute;
        top: 2px;
        height: 40px;
        width: 90px;
        background-color: $verde-green;
        border-radius: $border-radius-large;
        transition: all 0.6s;
        &.monthly {
          left: 2px;
        }
        &.yearly {
          left: 92px;
        }
      }
      > label {
        position: relative;
        z-index: 1;
        display: inline-block;
        float: left;
        width: 90px;
        height: 40px;
        line-height: 40px;
        margin-bottom: 0;
        cursor: pointer;
        font-size: $font-size-small;
        color: $gray-dark;
        font-weight: $font-weight-heavy;
      }
    }
    + .i-heart-startups-logo {
      position: absolute;
      top: 10px;
      right: 15px;
      z-index: 1;
      > img {
        width: 167px;
        border-top-right-radius: $border-radius-large;
      }
      @media (max-width: 645px) {
        & {
          display: none;
        }
      }
    }
  }
  .mobile-only-startups-logo {
    position: relative;
    > .content {
      @extend %module;
      width: 203px;
      margin-left: auto;
      margin-right: auto;
      > .mobile-i-heart-startups-logo {
        display: inline-block;
        > img {
          width: 200px;
        }
      }
    }
    @media (min-width: $screen-sm-min) {
      display: none;
    }
  }
}
.pricing-table {
  @extend %module;
  position: relative;
  margin-bottom: 10px;
  cursor: default;
  text-align: center;
  padding: 0 0 15px 0;
  border-radius: 5px;
  overflow: hidden;
  perspective: 1000;
  transition: 0.5s;
  transform-style: preserve-3d;
  &.monthly {
    animation: cd-rotate-monthly 0.5s;
    > .erp-six-month-free {
      display: none;
    }
  }
  &.yearly {
    animation: cd-rotate-yearly 0.5s;
    > .erp-six-month-free {
      color: $verde-green;
      background-color: $gray-dark;
      margin: 0 0 -20px 0;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  @media (min-width: $screen-sm-min) {
    &.most-popular {
      top: -20px;
    }
  }
}
.remove-special-startups-pricing {
  display: block;
  > h4 {
    color: $verde-green;
    background-color: $gray-dark;
    margin: 0 0 -20px 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  &:hover {
    text-decoration: none;
    > h4 {
      color: $verde-green-darker;
      background-color: $default-color;
    }
  }
}
@keyframes cd-rotate-monthly {
  0% {
    transform: perspective(2000px) rotateY(180deg);
  }
  70% {
    transform: perspective(2000px) rotateY(-20deg);
  }
  100% {
    transform: perspective(2000px) rotateY(0);
  }
}
@keyframes cd-rotate-yearly {
  0% {
    transform: perspective(1000px) rotateY(-180deg);
  }
  70% {
    transform: perspective(1000px) rotateY(20deg);
  }
  100% {
    transform: perspective(1000px) rotateY(0);
  }
}
.most-popular h1 {
  padding-bottom: 0;
  padding-top: 17px !important;
}
.pricing-table .price-actions .btn {
  border-radius: 5px;
  background: #acacac;
  color: #fff;
  border: none;
  box-shadow: none;
  text-shadow: none;
  padding: 10px 20px;
  cursor: pointer;
}
.pricing-head h1 {
  font-size: $font-size-h1;
  font-weight: 300;
  padding-top: 15px;
  color: $verde-purple;
}
.pricing-head h5 {
  width: 200px;
  margin: -35px auto -10px;
  padding-top: 3px;
  padding-right: 15px;
  color: $verde-teal;
  text-align: right;
}
.pricing-head > h2,
.pricing-head > .monthly-pricing,
.pricing-head > .yearly-pricing {
  padding: 30px 0;
  background: $verde-blue;
  color: #fff;
  font-size: 50px;
  font-weight: 100;
}
.pricing-head > .yearly-pricing {
  display: none;
}
.pricing-table ul {
  margin: 15px 0;
  padding: 0;
}
.pricing-table ul li {
  border-bottom: 1px dotted #CCCCCC;
  margin: 0 2em;
  padding: 1em 0;
  text-align: center;
  font-weight: 300;
}
.pricing-head span.note {
  display: inline;
  font-size: 25px;
  line-height: 0.8em;
  position: relative;
  top: -18px;
}
.feature-head {
  @extend %module;
  padding: 50px 0;
  cursor: default;
  position: relative;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/images/thriii-circle-icon.png") top center no-repeat;
    background-size: contain;
    z-index: -1;
    opacity: .2;
  }
  p {
    color: $gray-darken;
    font-size: $font-size-large;
    font-weight: $font-weight-lighter;
  }
  > h1 {
    font-size: $font-size-h2;
    color: $verde-green;
    font-weight: $font-weight-lighter;
    text-transform: uppercase;
    margin-top: 0;
  }
}

.pricing-table .popover-title,
.pricing-table .popover-content {
  color: $black-base;
}
.pricing-table.most-popular {
  background-color: $verde-green;
  &.startups {
    .pricing-head > h2,
    .add-on-header {
      background-color: $verde-purple;
    }
  }
}
.most-popular .pricing-head h1 {
  color: $white-base;
}
.most-popular .pricing-head  h5 {
  margin: -35px auto -10px;
  width: 200px;
  text-align: right;
}
.pricing-table .price-actions .btn {
  background-color: #2c3bad;
  text-shadow: 2px 2px 1px #2c3bad;
  opacity: .80;
  box-shadow: .7px .7px 0px .7px #777 !important;
}
.pricing-table .price-actions .btn:hover {
  background-color: #2c3bad;
  opacity: 1;
  box-shadow: none !important;
}
.pricing-table ul li {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  text-shadow: 0 .1px 0px #323232;
}
.pricing-table ul li:first-child {
  margin-top: 25px;
}
.most-popular ul li {
  border-bottom-color: $verde-blue !important;
  color: $black-base;
}
.pricing-table .add-ons {
  cursor: default;
}
.pricing-table { 
  .add-on-header,
  .coming-soon-header {
    padding: 20px;
    font-size: 40px;
    border: none;
    text-transform: uppercase;
    background-color: $gray-darken;
    color: $white-base;
  }
  .coming-soon-header {
    font-size: $font-size-h1;
  }
  .add-ons li,
  .coming-soon li {
    position: relative;
    margin: 0 1em;
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    > span {
      display: inline-block;
      width: 75%;
      vertical-align: middle;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
.add-ons .extra-info-popup .cmp-popup,
.coming-soon .extra-info-popup .cmp-popup {
  display: none;
}
.add-ons li.extra-info-popup:hover,
.coming-soon li.extra-info-popup:hover {
overflow: visible;
}
.add-ons li.extra-info-popup:hover .cmp-popup,
.coming-soon li.extra-info-popup:hover .cmp-popup {
  display: inline-block;
}
.cmp-popup {
  position: absolute;
  min-width: 90px;
  max-width: 300px;
  min-height: 50px;
  display: block;
  background-color: $white-base;
  color: $black-base;
  bottom: 120%;
  text-align: left;
  border: 1px solid $gray-dark;
  border-radius: $border-radius-large;
  box-shadow: 1px 1px 7px $black-base;
  padding: 10px;
  z-index: 800;
  left: 0px;
  text-transform: none;
  margin-right: -15px;
  margin-left: -15px;
  right: 0;
  letter-spacing: 0.3px;
  white-space: normal;
  word-break: break-word;
}
.extra-info-popup .cmp-popup li {
  white-space: normal;
  word-break: break-word;
}
.cmp-popup::after {
  position: absolute;
  bottom: 21px;
  right: 0;
  left: 0;
  height: 0;
  display: block;
  width: 20px;
  margin-right: auto;
  margin-left: auto;
  font-family: FontAwesome;
  font-size: 34px;
  content: "\f0d7";
  color: $white-base;
  text-shadow: 0px 2px 2px $black-base;
}
.cmp-popup > .cmp-header {
  display: block;
  margin: -10px -10px 6px -10px;
  padding: 5px;
  text-align: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 1px solid $gray-darker;
  background-color: #e7e7e7;
  color: $black-base;
}
