/* 
 * ProjectName v1.0.0 * 
 * Changed: Wednesday, February 18th, 2015, at 3:51:35 PM * 
*/ 
//= require_self

// Core
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic");
@import url("//fonts.googleapis.com/css?family=Fjalla+One");
@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400");
@import url("//fonts.googleapis.com/css?family=Roboto+Condensed:700");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@import "variables";
@import "depend/bootstrap";
@import "depend/bootstrap-tagsinput";
@import "depend/flashnotifs";
@import "icons_social";
@import "sidebar";
@import "auth";
@import "postsv2";
@import "posts_show";
@import "avatar";
@import "cards";
@import "footer";

// Plugins
@import 'nprogress';
@import 'nprogress-bootstrap';

// Overrides
@import "overrides";

html {
  &.desktop body.dont-scroll-body,
  &.mobile body.dont-scroll-body {
    overflow-y: hidden;
  }
  &.desktop body.dont-scroll-body {
    margin-right: 15px;
    > .navbar {
      padding-right: 15px;
    }
  }
}

body {
  color: $default-color;
  background-color: $gray-background;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
}
a {
  color: $verde-navy-blue-dark;
  &:hover, &:focus, &:active {
    color: $gray-dark;
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $gray-dark;
  font-family: $font-family-headings;
  font-weight: $font-weight-ultra-heavy;
}

.welcome-header {
  @extend %module;
  text-align: center;
  > .heading {
    color: $verde-purple;
  }
  > p {
    padding: 0 15px;
  }
}

textarea.form-control {
  resize: vertical !important;
  min-height: 80px !important;
}

.secondary-nav-dropdown {
  .navbar-brand {
    position: relative;
    .brand-image-icon-layer {
      position: absolute;
      top: 20px;
      left: 21.3px;
      font-size: 14px;
      color: #9b9b9b;
    }
  }
  & .dropdown:visited,
  & .dropdown:hover,
  & .dropdown:active,
  & .dropdown:focus,
  & .open {
    .brand-image-icon-layer {
      color: #323232;
    }
  }
}
#pagepile-loading {
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 400;
  > h1 {
    color: #fff;
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 0;
    left: 0;
    text-align: center;
  }
}
#pp-nav {
  display: none;
}
#menu {
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  z-index: 350;
  width: 474px;
  margin: 0 auto;
  background-color: $gray-dark;
  padding: 5px;
  border-radius: 4px;
  opacity: .1;
  transition: all 1s;
  &:hover {
    top: 70px;
    opacity: 1;
  }
  &.nav-pills > li > a,
  &.nav-pills > li > a:focus {
    color: #fafafa;
    background-color: transparent;
    text-transform: capitalize;
  }
  &.nav-pills > li > a:hover {
    color: $gray-dark;
    background-color: lighten($verde-green, 10%);
  }
  &.nav-pills > li.active > a,
  &.nav-pills > li.active > a:hover,
  &.nav-pills > li.active > a:focus {
    color: $gray-dark;
    background-color: $verde-green;
  }
}
.mobile #menu {
  display: none;
}
@media (max-width: 550px) {
  #menu {
    display: none;
  }
}
#pp-nav .pp-tooltip {
  color: $gray-dark;
  text-transform: capitalize;
}
#pagepile {
  margin-top: 0;
  margin-left: -14px;
  .pp-section {
    padding: 5px;
  }
  #section1, #section3, #section5 {
    background: #fff url('/images/verde-circle-logo-name-centered.png') no-repeat fixed center;
  }
  #section2, #section4 {
   background: #fff url('/images/sampledash.jpg') no-repeat fixed center; 
  }
  #section1, #section2, #section3, #section4, #section5 {
    background-size: cover;
  }
}

.flipInX {
  backface-visibility: visible !important;
  animation-name: flipInX;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@-webkit-keyframes flipInX {
  0% {
    transform: perspective(400px)rotateX(90deg);
    opacity: 0;
  }
  40% {
      transform: perspective(400px)rotateX(-10deg);
  }
  70% {
      transform: perspective(400px)rotateX(10deg);
  }
  100% {
      opacity: 1;
  }
}
@keyframes flipInX {
  0% {
    transform: perspective(400px)rotateX(90deg);
    opacity: 0;
  }
  40% {
    transform: perspective(400px)rotateX(-10deg);
  }
  70% {
    transform: perspective(400px)rotateX(10deg);
  }
  100% {
    transform: perspective(400px)rotateX(0);
    opacity: 1;
  }
}
.navbar-inverse {
  .dropdown-menu {
    background-color: $gray-dark;
    li > a:not(.btn) {
      color: $white-base;
      &:hover {
        color: $black-base;
        background-color: $verde-green;
      }
    }
  }
}

.fa-beat {
  animation: pulsate 1s linear infinite;
}
.fa-slow-spin {
  animation: slow-spin 2s infinite cubic-bezier(0.89, 0.28, 0.35, 0.79);
}
.fa-rotate {
  animation: rotater 2s infinite cubic-bezier(0.89, 0.28, 0.35, 0.79);
}
#favorite-action-buttons {
  > a {
    display: inline;
    .fa-star {
      color: yellow;
    }
  }
}

.provider-twitter {
  background: #00aced !important;
  border-color: #0099d3 !important;
  &:hover {
    background: #21c2ff !important;
  }
}
.provider-facebook {
  background: #3b5998 !important;
  border-color: #2f487c !important;
  &:hover {
    background: #4c70ba !important;
  }
}
.provider-linkedin {
  background: #069 !important;
  border-color: #00547e !important;
  &:hover {
    background: #08c !important;
  }
}
.provider-google {
  background-color: #d73d32 !important;
  border-color: #e4271a !important;
  &:hover {
    background-color: #e4271a !important;
  }
}

@keyframes pulsate {
  0% {transform: scale(1);}
  50% {transform: scale(1.2);}
  100% {transform: scale(1.3);}
}

@keyframes slow-spin {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}

@keyframes rotater {
  0% {transform: rotateY(0);}
  100% {transform: rotateY(360deg);}
}
