/* 
 * ProjectName v1.0.0 * 
 * Changed: Wednesday, February 18th, 2015, at 3:51:35 PM * 
*/ 
//= require_self

// Core
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic");
@import url("//fonts.googleapis.com/css?family=Fjalla+One");
@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@import "variables";
@import "depend/bootstrap";
@import "depend/flashnotifs";
@import "icons_social";
@import "auth";
@import "posts";
@import "avatar";
@import "cards";
@import "footer";
// @import 'font-awesome';

// Plugins
@import 'nprogress';
@import 'nprogress-bootstrap';

// Overrides
@import "overrides";

.secondary-nav-dropdown {
  .navbar-brand {
    position: relative;
    .brand-image-icon-layer {
      position: absolute;
      top: 20px;
      left: 21.3px;
      font-size: 14px;
      color: #9b9b9b;
    }
  }
  & .dropdown:visited, & .dropdown:hover, & .dropdown:active, & .dropdown:focus,
  & .open {
    .brand-image-icon-layer {
      color: #323232;
    }
  }
}
#pagepile-loading {
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 400;
  > h1 {
    color: #fff;
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 0;
    left: 0;
    text-align: center;
  }
}
#menu {
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  z-index: 350;
  width: 451px;
  margin: 0 auto;
  background-color: #323232;
  padding: 5px;
  border-radius: 4px;
  opacity: .1;
  transition: all 1s;
  &:hover {
    top: 70px;
    opacity: 1;
  }
  &.nav-pills > li > a,
  &.nav-pills > li > a:focus {
    color: #fafafa;
    background-color: transparent;
    text-transform: capitalize;
  }
  &.nav-pills > li > a:hover {
    color: #323232;
    background-color: lighten($verde-green, 10%);
  }
  &.nav-pills > li.active > a,
  &.nav-pills > li.active > a:hover,
  &.nav-pills > li.active > a:focus {
    color: #323232;
    background-color: $verde-green;
  }
}
.mobile #menu {
  display: none;
}
@media (max-width: 550px) {
  #menu {
    display: none;
  }
}
#pp-nav .pp-tooltip {
  color: #323232;
  text-transform: capitalize;
}
#pagepile {
  margin-top: 0;
  margin-left: -14px;
  .pp-section {
    padding: 5px;
  }
  #section1, #section3, #section5 {
    background: #fff url('/images/verde-circle-logo-name-centered.png') no-repeat fixed center;
  }
  #section2, #section4 {
   background: #fff url('/images/sampledash.jpg') no-repeat fixed center; 
  }
  #section1, #section2, #section3, #section4, #section5 {
    background-size: cover;
  }
}
