.page-footer {
  padding: 20px 10px;
  margin: 100px -15px 0;
  text-align: center;
  border-top: 1px solid #333;
  background-color: #fff;
  ul {
    margin: 0;

    @extend .list-unstyled;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #000;
    &:hover {
      color: #000;
    }
  }
}
