@import "variables";
@import "pricing";
@import "blog";
@import "verdecircle/team";

.intro-icon-wrapper {
  max-width: 755px;
  margin-left: auto;
  margin-right: auto;
  color: $verde-blue;
  .list-inline {
    text-align: center;
  }
  .col-xs-4 {
    padding-left: 5px;
    padding-right: 5px;
  }
  .intro-icon {
    font-size: 30px;
  }
  .intro-icon-text {
    vertical-align: super;
  }
}

#intro-video-container {
  max-height: 450px;
  margin-top: -13px;
  padding-top: 5px;
  background-color: #000;
}
#intro-video {
  max-width: 765px;
  max-height: 430px;
  margin-left: auto;
  margin-right: auto;
  .embed-responsive-item {
    max-width: inherit;
    max-height: inherit;
  }
  .intro-video-overlay {
    position: absolute;
    top: 2px;
    left: 0;
    bottom: 4px;
    width: 300px;
    padding: 10px;
    background-color: $gray-darker;
    opacity: .9;
    z-index: 1000;
    text-align: center;
    > h1 {
      color: $verde-purple-dark;
    }
    .meta-text {
      margin-left: -10px;
      margin-right: -10px;
      padding: 15px;
      background-color: $verde-blue;
      color: $white-base;
      font-size: $font-size-med;
      text-shadow: $text-shadow-sm;
    }
    .btn {
      margin-top: 30px;
      padding: 15px;
      font-size: $font-size-med;
      transition: all .8s;
      &:hover {
        background-color: $verde-green;
        color: $verde-blue;
      }
    }
    .close-video-overlay {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 26px;
      padding: 3px 0;
      color: $gray-dark;
      background-color: $verde-green;
      font-weight: $font-weight-ultra-heavy;
      text-decoration: none;
      transition: all .8s;
      &:before {
        content: "\f00d";
        font-family: FontAwesome;
        margin-right: 5px;
      }
      &:hover {
        color: $black-base;
        background-color: $verde-green-dark;
      }
    }
  }
}
@media (max-width: $screen-xs-max) {
  #intro-video {
    .intro-video-overlay {
      .meta-text {
        display: none;
      }
      .btn {
        margin-top: 5px;
      }
    }
  }
}

@media (min-width: 840px) {
  #intro-video {
    padding-bottom: 0;
    height: 450px;
  }
}

.intro-freetrial-content {
  > .into-freetrial-btn {
    margin: 5px auto;
    width: 340px;
  }
  > p {
    color: #898989;
    font-weight: 500;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .intro-freetrial-content > .into-freetrial-btn {
    max-width: 70%;
  }
}

.intro-media-wrapper {
  padding: 50px 0;
  background-color: #fff;
  margin-bottom: -50px;
  .intro-media-support {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    .ss-logo {
      margin-top: 6%;
    }
    .i-logo {
      margin-top: 2%;
    }
    div {
      padding-left: 5px;
      padding-right: 5px;
    }
    div:first-child {
      padding-left: 0;
    }
    div:last-child {
      padding-right: 0;
    }
  }
}

@media (max-width: 500px) {
  .intro-media-support {
    div {
      width: 100%;
      img {
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.controller__contacts {
  .contact-page-map {
    margin-top: -14px;
    padding-bottom: 20px;
  }
  .contact-page-address-wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    > .address {
      @extend %module;
      text-align: center;
    }
    .contact-form-wrapper {
      @extend %module;
      .contact-form textarea {
        height: 200px;
        resize: vertical !important;
      }
    }
  }
}

@media (max-width: 768px) {
  .controller__contacts .contact-page-address-wrapper > .address {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}




.navbar-green {
  background-color: $verde-green;
  border: 1ps solid $verde-green-dark;
  .navbar-toggle {
    border-color: $verde-green-dark;
    &:hover, &:focus {
      background-color: $verde-green;
    }
    .icon-bar {
      background-color: $verde-blue;
    }
  }
  .navbar-nav > li {
    margin: 3px;
    > a {
      color: $white-base;
      border-radius: $border-radius-large;
      transition: all .6s;
      &:hover, &:focus {
        color: $white-base;
        background-color: $verde-blue;
      }
    }
  }
}
.navbar-brand {
  margin-left: -19px !important;
  padding: 0;
}
.brand-image {
  width: 150px;
}
@media (max-width: $screen-xs-max) {
  .navbar-brand {
    margin-left: -4px !important;
  }
}










