@import "variables";
@import "pricing";
@import "blog";

.intro-icon-wrapper {
  max-width: 755px;
  margin-left: auto;
  margin-right: auto;
  color: $verde-blue-light;
  .list-inline {
    text-align: center;
  }
  .col-xs-4 {
    padding-left: 5px;
    padding-right: 5px;
  }
  .intro-icon {
    font-size: 30px;
  }
  .intro-icon-text {
    vertical-align: super;
  }
}

#intro-video-container {
  max-height: 450px;
  margin-top: -13px;
  padding-top: 5px;
  background-color: #000;
}
#intro-video {
  max-width: 765px;
  max-height: 430px;
  margin-left: auto;
  margin-right: auto;
  .embed-responsive-item {
    max-width: inherit;
    max-height: inherit;
  }
}

@media (min-width: 840px) {
  #intro-video {
    padding-bottom: 0;
    height: 450px;
  }
}

.intro-freetrial-content {
  > .into-freetrial-btn {
    margin: 5px auto;
    width: 340px;
  }
  > p {
    color: #898989;
    font-weight: 500;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .intro-freetrial-content > .into-freetrial-btn {
    max-width: 70%;
  }
}

.intro-media-support {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  .ss-logo {
    margin-top: 6%;
  }
  .i-logo {
    margin-top: 2%;
  }
  div {
    padding-left: 5px;
    padding-right: 5px;
  }
  div:first-child {
    padding-left: 0;
  }
  div:last-child {
    padding-right: 0;
  }
}

@media (max-width: 500px) {
  .intro-media-support {
    div {
      width: 100%;
      img {
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.controller__contacts {
  .contact-page-map {
    margin-top: -14px;
    padding-bottom: 20px;
  }
  .contact-page-address-wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    > .address {
      text-align: center;
    }
    .contact-form textarea {
      height: 200px;
      resize: vertical !important;
    }
  }
}

@media (max-width: 768px) {
  .controller__contacts .contact-page-address-wrapper > .address {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}


// input[type="text"] {
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
//   width: 100%;
//   height: -webkit-calc(3em + 2px);
//   height: calc(3em + 2px);
//   margin: 0 0 1em;
//   padding: 1em;
//   border: 1px solid #cccccc;
//   border-radius: 1.5em;
//   background: #fff;
//   resize: none;
//   outline: none;
// }
// input[type="text"]:hover + label[placeholder]:before {
//   color: #ff6666;
// }
// input[type="text"] {
//   background-color: lightyellow;
// }
// input[type="text"]:focus + label[placeholder] {
//   color: red;
//   -webkit-transition-duration: .8s;
//   transition-duration: .8s;
//   -webkit-transform: translate(0, 0) rotate3d(10, 0, -10, -360deg);
//   -ms-transform: translate(0, 0) rotate3d(10, 20, -10, -360deg);
//   transform: translate(0, 0) rotate3d(10, 20, -10, -360deg);
// }
// input[type="text"]:hover {
//   border-color: #00bafa;
//   background-color: #ffe0e0;
// }
// input[type="text"]:focus {
//   border-color: #00bafa;
//   background-color: #ffe0e0;
// }
// input[type="text"]:valid {
//   background-color: #ecf5ff;
//   border-color: green;
// }
// input[type="text"]:focus + label[placeholder]:before {
//   color: #00bafa;
// }
// input[type="text"]:hover + label[placeholder]:before {
//   -webkit-transition-duration: .4s;
//   transition-duration: .4s;
//   -webkit-transform: translate(-7em, 0); 
//   -ms-transform: translate(-7em, 0);
//   transform: translate(-7em, 0);
// }
// input[type="text"]:hover + label[placeholder] {
//   -webkit-animation: placeholder 3.2s infinite;
// }
// input[type="text"]:focus + label[placeholder]:before,
// input[type="text"]:valid + label[placeholder]:before {
//   -webkit-transition-duration: .8s;
//   transition-duration: .8s;
//   -webkit-transform: translate(60%, -1.5em) scale(1, 1) rotate3d(10, 20, -10, -360deg);
//   -ms-transform: translate(60%, -1.5em) scale(1, 1) rotate3d(10, 20, -10, -360deg);
//   transform: translate(60%, -1.5em) scale(1, 1) rotate3d(10, 20, -10, -360deg);
// }
// input[type="text"]:valid + label[placeholder] {
//   -webkit-animation: placeholder 3.2s infinite;
// }
// input[type="text"]:valid + label[placeholder]:before {
//   -webkit-transform: translate(40%, -1.5em) scale(1, 1) rotate3d(10, 20, -10, -360deg);
// }
// input[type="text"]:invalid + label[placeholder][alt]:before {
//   content: attr(alt);
// }
// @-webkit-keyframes placeholder {
//   50% { -webkit-transform: rotateZ(3deg) translateY(-3px); }
// }
// input[type="text"] + label[placeholder] {
//   display: block;
//   pointer-events: none;
//   line-height: 1em;
//   margin-top: -webkit-calc(-3em - 2px);
//   margin-top: calc(-3em - 2px);
//   margin-bottom: -webkit-calc((3em - 1em) + 2px);
//   margin-bottom: calc((3em - 1em) + 2px);
// }
// input[type="text"]:valid + label[placeholder]:before {
//   color: green;
// }
// input[type="text"] + label[placeholder]:before {
//   content: attr(placeholder);
//   display: inline-block;
//   margin: 0 -webkit-calc(1em + 2px);
//   margin: 0 calc(1em + 2px);
//   padding: 0 2px;
//   color: #898989;
//   white-space: nowrap;
//   -webkit-transition: 0.3s ease-in-out;
//   transition: 0.3s ease-in-out;
//   background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
//   background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
//   background-image: linear-gradient(to bottom, #ffffff, #ffffff);
//   -webkit-background-size: 100% 5px;
//   background-size: 100% 5px;
//   background-repeat: no-repeat;
//   background-position: center;
// }

// .control-label {
//   position: absolute;
//   top: 7px;
//   left: 28px;
//   pointer-events: none;
//   transition: all .8s;
// }
// .control-label:hover {
//   transition-duration: .8s;
//   transform: translate(20px, -1.2em) scale(1, 1);
// }
// .fancyplaceholderin {
//   transition-duration: .8s;
//   transform: translate(20px, -1.2em) scale(1, 1);
// }
// .fancyplaceholderout {
//   transition-duration: .8s;
//   transform: translate(0, 0) scale(1, 1);
// }

